<!-- Control Sidebar -->
<aside class="control-sidebar" style="background-color: rgb(231,236,241);width: 30%;">

    <!-- Control sidebar content goes here -->
    <div class="control-sidebar-content" style="font-size: 12px;">
        <div class="border-bottom">
            <h6 class="p-3"><i class="far fa-bell"></i> NOTIFICATIONS</h6>
        </div>
        <div class="border-bottom">
        <div class="user-block p-2 text-gray">
            <img class="img-circle img-bordered-sm" src="../../img/pic4.png" alt="user image">
            <div class="" style="margin-left: 50px;">
                <span><strong>fateme a.</strong> posted a message: hi</span>
                        </div>
            <div class="text-red" style="font-size: 13px;margin-left: 50px;">Expired</div>
        </div>
        </div>
        <div class="border-bottom text-gray">
        <div class="user-block p-2">
            <img class="img-circle img-bordered-sm" src="../../img/pic4.png" alt="user image">
            <div class="" style="margin-left: 50px;">
                          <span><strong>bahar h.</strong> created time-off for bahar for <strong>January 6</strong></span>
                        </div>
            <div class="text-red" style="font-size: 13px; margin-left: 50px;">Expired</div>
        </div>
        </div>
        <div class="border-bottom text-gray">
        <div class="user-block p-2">
            <img class="img-circle img-bordered-sm" src="../../img/pic4.png" alt="user image">
            <div class="" style="margin-left: 50px;display: block;">
                <span><strong>You</strong> initiated a shift swap requested from <strong>11:00</strong> to <strong>14:00</strong></span>
                        </div>
            <div class="text-blue" style="font-size: 13px; margin-left: 50px;">Accepted</div>
        </div>
        </div>
    </div>

</aside>
<!-- /.control-sidebar -->


