<div class="card card-widget widget-user-2">

    <div class="card-footer p-0">
        <ul class="nav flex-column" id="sideMenu_left">
            <li class="nav-item">
                <a href="{{path('Home',{'path':'time-off-requests'})}}" class="nav-link">
                    TIME OFF REQUESTS
                </a>
            </li>
            <li class="nav-item">
                <a href="{{path('Home',{'path':'shift-requests'})}}" class="nav-link">
                    SHIFT REQUESTS
                </a>
            </li>

        </ul>
    </div>
</div>