<h3>Hi you send forget pass request </h3>

{# example, assuming you have a route named "login" #}
To login use this password you can change it later in your panel
password:{{ password }}

Thanks!
